.acc a {
  color: blueviolet;
  flex-wrap: wrap;
  font-size: 1.5rem;
  justify-content: space-between;
  margin-left: 3rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

body {
  background-color: #202124;
}

li {
  float: left;
  margin-left: rem;
}

li a {
  color: white;
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  color: orange;
}

.logo {
  margin-right: 1rem;
}

.max-width {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  padding: 0 0.5rem;
}

.topBar {
  background-color: black;
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 1.5rem 0;
  width: 100%;
  transition: all 0.3s ease;
}

.topBar .logo a {
  color: aliceblue;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

.topBar .logo .fo {
  color: orange;
}

.topBar .logo .lio{
  color: blueviolet;
}

p {
  display: flex;
  font-family: sans-serif;
  margin-left: 2rem;
}

section {
  padding: 10rem 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
