.acc a {
  color: blueviolet;
  flex-wrap: wrap;
  font-size: 1.5rem;
  justify-content: space-between;
  margin-left: 3rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.acc a:hover {
  color: orange;
}

body {
  background-color: #202124;
  background: url(ptfbg.jpeg) no-repeat fixed;
  background-size: cover;
}

.desc {
  font-size: 1.3rem;
}

.desc .status {
  color: blueviolet;
}

.desc .status:hover {
  color: green;
  font-size: 2rem;
}

.home {
  color: white;
}

.home .hi {
  font-family: monospace;
  font-size: 1.5rem;
}

.home .name {
  font-family: cursive;
  font-size: 2rem;
}

.home .name span:hover {
  font-size: 3rem;
}

.home .name .firstName {
  color: orange;
}

.home .name .lastName {
  color: blueviolet;
}

.home .name .middleName {
  color: green;
}

li {
  float: left;
  margin-left: rem;
}

li a {
  color: white;
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  color: green;
}

.logo {
  margin-right: 1rem;
}

.material-icons {
  color: orange;
  font-size: 1rem;
}

.max-width {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  padding: 0 0.5rem;
}

.topBar {
  background-color: black;
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 1.5rem 0;
  width: 100%;
  transition: all 0.3s ease;
}

.topBar .logo a {
  color: aliceblue;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

.topBar .logo .fo {
  color: green;
}

.topBar .logo .lio {
  color: blueviolet;
}

.topBar .logo .port {
  color: orange;
}

p {
  display: flex;
  font-family: sans-serif;
  margin-left: 2rem;
}

section {
  padding: 5rem 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
